mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}
mat-sidenav{
    width: 230px;
    background-color: #3f51b5;
}
a{
    text-decoration: none;
    color: white;
}
a:hover,
a:active{
    color: lightgray;
}

.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}